.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;

    section > button {
        color: var(--pink);
        font-weight: 600;
        font-size: 1.125rem;
        margin-top: 3rem;
        border: 0;
        background: transparent;
        transition: filter 0.2s;
    
        &:hover {
          filter: brightness(0.7);
        }
      }
}

.posts {
    max-width: 720px;
    margin: 5rem auto 0;

    

    .postContent {
        margin-top: 2rem;
        line-height: 2rem;
        font-size: 1.125rem;
        color: var(--gray-100);

        h1 {
            font-size: 1.75rem;
            font-weight: 700;
        }

        div {
            display: flex;
        }
    
        time {
            margin-right: 1.5rem;
            text-transform: capitalize;
        }
      
        time, span {
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        color: var(--gray-100);
        }

        p{
            font-size: 1.125rem;
            margin: 0.5rem 0 1.5rem;
        }

        & + article {
            margin-top: 3rem;
        }
    }

    button {
        margin-top: 4rem;

        color: var(--pink);
        font-size: 1.125rem;
        font-weight: 600;

        background: transparent;
        border: 0;

        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.7);
        }
    }
}